<!doctype html>
<html style="height: 100%;">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<style>
		.main-background {
			background-image: url( "../styles/main.png");
			background-size: 100vw 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.main-background::before {
			content: "";
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-color: rgba(0,0,0,0.1);
		}
		.name-background {
			background-color: white;
			height: 30vh;
			width: 55vh;
			border-radius: 30px;
			opacity: 90%;
			padding: 1vh;
		}
		.start:hover .main-background::before {
			background-color: rgba(0,0,0,0.0);
		}
		.btn-outline-warning {
			background: #FFC300;
			color: black;
			border-radius: 50px;
			width: 10vw;
		}
		.btn-outline-warning:hover {
			background: #F5E39A;
		}
		input[type=submit].btn-block {
			width: 15vw;
		}
	</style>
</head>
<body style="height: 100%; display: flex; flex-direction: column;">
  <!-- This a page for logging in -->
  <div class="d-flex justify-content-center main-background" style="flex: 1 0 auto;"> <!-- ASK -->
    <div class="d-flex flex-column justify-content-start align-items-center name-background">
        <br>
            <h1 style="font-size: 7vh;">Weather Teller</h1>
        <br>
	  <form action="/weatherpage" method="get">
	  	<!-- <div class="form-group">
			<label for="usernameInput">Enter user name: </label>
			<br>
		    <input type="text" name="username" autocomplete="off" placeholder="Username">
	    </div>
	    <div class="form-group">
		    <label for="passwordInput">Enter password: </label>
		    <br>
		    <input type="password" name="password" autocomplete="off" placeholder="Password">
	    </div> -->
	    <input type="submit" class="btn btn-outline-warning btn-lg btn-block start" value="Start">
	  </form>
    </div>
  </div>
  <!-- <footer style="flex-shrink: 0;">
  	<p> Hyeon Jeong Choi, choihye </p>
  </footer> -->
</body>
</html>